.revenote-menu-container {
  .ant-menu-submenu-title:hover .menu-icon {
    visibility: visible;
  }

  .ant-menu-submenu-title {
    padding-left: 16px !important;
  }

  .ant-menu-submenu-title .menu-icon {
    visibility: hidden;
  }

  .ant-menu-title-content {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .ant-dropdown-trigger {
    width: 100%;
  }

  .ant-menu-item {
    padding-right: 0;
    padding-left: 42px !important;
    height: 50px;
  }
}
