.revenote-menu-container {
  .ant-menu-submenu-title:hover .menu-icon {
    visibility: visible;
  }

  .ant-menu-submenu-title {
    padding-left: 16px !important;

   
  }

  .ant-menu-submenu-title .menu-icon {
    visibility: hidden;
  }

  .ant-menu-title-content {
    height: 100%;
  }

  .ant-menu-item {
    padding-right: 0;
    padding-left: 42px !important;
  }
}
