.blocksuite-editor-container {

  --affine-editor-width: 1200px;
  --affine-font-base: 11pt;
  --affine-text-primary-color: rgb(64, 64, 64);
  --affine-font-family: "zh quote", "Helvetica Neue", -apple-system, "PingFang SC", "Microsoft YaHei", STHeiti, Helvetica, Arial, sans-serif, "Apple Color Emoji";
  --affine-link-color: rgb(49, 126, 208);

  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;

  .affine-default-page-block-container {
    height: 100%;
  }

  .affine-default-page-block-title {
    display: none;
  }
}
