.blocksuite-editor-container {

  --affine-editor-width: 1100px;
  --affine-font-base: 11pt;
  --affine-text-primary-color: rgb(64, 64, 64);
  --affine-font-family: "zh quote", "Helvetica Neue", -apple-system, "PingFang SC", "Microsoft YaHei", STHeiti, Helvetica, Arial, sans-serif, "Apple Color Emoji";
  --affine-link-color: rgb(49, 126, 208);

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;

  .affine-default-page-block-container {
    min-height: 600px;
  }

  .affine-default-page-block-title-container, .affine-default-page-block-title {
    display: none;
  }

  .note-editor-title{
    max-width: var(--affine-editor-width);
    width: 100%;
  }

  .blocksuite-editor-content {
    width: 100%;
    height: calc(100% - 2rem);
  }
}
