/* Customize website's scrollbar like Mac OS
 * Only support windows 
 */

.os-is-windows {

  /* total width */
  ::-webkit-scrollbar {
    width: 16px
  }

  /* background of the scrollbar except button or resizer */
  ::-webkit-scrollbar-track {}

  ::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4
  }

  /* scrollbar itself */
  ::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 5px solid #fff
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 4px solid #f4f4f4
  }

  /* set button(top and bottom of the scrollbar) */
  ::-webkit-scrollbar-button {
    display: none
  }
}
