/* http://www.eaglefonts.com/fg-virgil-ttf-131249.htm */
@font-face {
  font-family: "Virgil";
  src: url("./fonts/Virgil.woff2");
  font-display: swap;
}

/* https://github.com/microsoft/cascadia-code */
@font-face {
  font-family: "Cascadia";
  src: url("./fonts/Cascadia.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Assistant";
  src: url("./fonts/Assistant-Regular.woff2");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Assistant";
  src: url("./fonts/Assistant-Medium.woff2");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Assistant";
  src: url("./fonts/Assistant-SemiBold.woff2");
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Assistant";
  src: url("./fonts/Assistant-Bold.woff2");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Assistant";
  src: url("./fonts/Assistant-Bold.woff2");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Cangnanshoujiti";
  src: url("./fonts/YeZiGongChangCangNanShouJi-2.ttf");
  font-display: swap;
  font-weight: 1000;
}
