.revenote-layout {
  width: 100%;
  height: 100%;

  .ant-layout {
    height: 100%;
  }

  .revenote-topleft-toolbar {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    height: 50px;
    font-size: 16px;
    -webkit-user-select: none;
    -webkit-app-region: drag;


    .tool-buttons {
      display: flex;
      justify-content: space-between;
      margin: 16px 10px 20px 0;
      -webkit-app-region: no-drag;
    }
  }

  .ant-menu-title-content {
    flex: auto;
  }

  .ant-layout-content {
    position: relative;
    border-left: 1px solid #e2e2e2;

    .uncollapse-icon {
      position: absolute;
      color: #333;
      top: 20px;
      left: 10px;
      z-index: 1001;
      font-size: 20px;
    }
  }
}
