.revezone-layout {
  width: 100%;
  height: 100%;

  .ant-layout {
    height: 100%;
  }

  .revezone-topleft-toolbar {

    .os-is-macos.is-in-revezone-native-app & {
      position: relative;
    }

    position: absolute;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: row-reverse;
    height: 2rem;
    font-size: 16px;
    -webkit-user-select: none;
    -webkit-app-region: drag;

    .panel-left-button {
      margin: 0.3rem 0.6rem 0 0;
      -webkit-app-region: no-drag;
    }
  }



  .ant-menu-title-content {
    flex: auto;
  }
 
}
